RESOURCE/*
!RESOURCE/INI
!RESOURCE/animation
!RESOURCE/MODELS
RESOURCE/MODELS/*
!RESOURCE/MODELS/Characters
!RESOURCE/Textures
RESOURCE/Textures/*
!RESOURCE/Textures/INTERFACES
RESOURCE/Textures/INTERFACES/*
!RESOURCE/Textures/INTERFACES/PORTRAITS
!RESOURCE/Textures/Characters